<%= render "shared/header" %>

<% content_for :title do %>
  Purposes list
<% end %>

<h2>目的リスト</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>目的</th>
      </tr>
    </thead>

  <tbody>
    <% @purposes.each do |purpose| %>
      <tr>
        <td><%= link_to("#{purpose.id}", "/purpose/#{purpose.id}/edit")%></td>
        <td><%= purpose.purpose %></td>
      </tr>
    <% end %>
  </tbody>
</table>

