<% @page_title = "新規目的登録" %>
<h2><%= @page_title %></h2>

<%= form_tag("/purpose") do %>

  <textarea name = "purpose" placeholder = "目的を入力してください"></textarea> <br>
  <input type = "submit" value ="目的登録">

<% end %>

