<div class="container">
  ショップ名
  <%= @shop.name %><br>
  販売実績<br>
  <% @products.each do |product| %>
    <%= product.name %>
    <%= PresentProduct.where(product_id: product.id).count %><br>
  <% end %>

</div>