<%= render "shared/header" %>

<h3>プレゼントを贈ろう！</h3>

	<p>カテゴリーから探す（product modelにカラム追加）</p>
	<p>価格から探す</p>
	<p>贈る相手から探す</p>
	<p>目的から探す</p>

	<p>そのうち「お気に入り」「カート」を作りたい。modelはそのうち。</p>




		<%= current_user %>


