<%= render "shared/header" %>

<div id="page-comment">
  Welcome to Present App.
</div>
<div class="serch-from-btn-group">
  <div class="category_search serch-from-category">
    カテゴリーから探す
  </div>
  <div class="category_search search-from-purpose">
    目的から探す
  </div>
</div>
    <div class="search_from_purpose">
        <% @purposes.each do |purpose| %>
          <%= check_box_tag "checkbox[#{purpose.id}]" %>
          <%= label_tag "checkbox[#{purpose.id}]", "#{purpose.purpose}" %>
        <% end %>
      <span>-</span>
    </div>


<% if signed_in? && current_user.admin == true %>
    あなたは管理者です。
  <%= render "shared/footer" %>
<% end %>
