<%= render "shared/header" %>
  <div class="caution">
    <p>類似サイトです。ご注意ください！</p>
  </div>
  <div class="wideslider container">
    <%= link_to(image_tag("hd_handd_main.png", alt:"バナー")) %>
  </div>
  <div class="select-contents-tag container">
    <p>ブランドから選ぶ</p>
    <p>カテゴリから選ぶ</p>
    <p>価格から選ぶ</p>
    <p>贈る相手から選ぶ</p>
    <p>贈る目的から選ぶ</p>
  </div>
  <div class="select-list"></div>
  <div class="new-items container">
    <%= link_to(image_tag("newitem_title.png", alt:"新着アイテム")) %>
      <div class="new-item-view">
        <div class="image-area">
        </div>
        <div class="item-details">
        </div>
      </div>



  </div>






  <%= render "shared/footer" %>

