<%= render "shared/header" %>

<div class="page_title"><p>Welcome to Present App.</p></div>

  <div class="search_by"><p>カテゴリーから探す</p></div>
  <p>価格から探す</p>
  <p>贈る相手から探す</p>
  <p>目的から探す</p>


<% if signed_in? && current_user.admin == true %>
    あなたは管理者です。

<%= render "shared/footer" %>



<% end %>
