<div class="container">
    <h2 class="page_title">このアプリの紹介</h2>
    <div class="item_field">
        <div class="item_block">
            <p class="sub_title">
                機能紹介
            </p>

            <p>本サイトでは商品の購入、発送などは行われません。自由に遊んでみて下さい。</p>
            <p>ログイン</p>
            <p>ユーザー情報変更</p>
            名前、パスワードなど
            <p>カート情報管理</p>
            <p>プレゼント履歴管理</p>
            <p>メール送信機能</p>
            <p>商品詳細ページ</p>
            <p>商品検索機能</p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p>レスポンシブ対応</p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>
</div>