#page-comment {
  font-family: "Hiragino Kaku Gothic Pro";
  padding-left: 40px; 
  margin: 40px 20px;
  font-size: 32px;
  font-weight: 600;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #442220;
}

.menu-title{
  margin:20px;
  border-style: solid;
  color: #F01970;
  width: 140px;
  line-height: 40px;
  border-width: 2px;
  border-radius: 5px;
}