header {
  background-color: #D0AD1B;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding-right: 45px;
}

.header_menu {
  a {
    text-decoration: none;
    }
  display: flex;
  width: 500px;
  justify-content: space-between;
  font-family: "Iowan Old Style";
  font-size: 20px;
}

.header_side_menu {
  display: flex;
  width: 250px;
  justify-content: space-between;
  text-align: center;
}

logo {
  width: 150px;
  font-family: "Hannotate SC";
  color: #FFFFFF;
  font-size: 20px;
  line-height: 20px;
  margin-left: 45px;
  border-width: 1px;
  border-style: solid;
}

.search_box {
  input[type="text"] {
    font-size: 20px;
    padding: 10px;
    width: 200px;
    height: 25px;
    font-family: Iowan Old Style;
    text-align: left;
  }
}

.header_menu_login {
  font-family: Iowan Old Style;
  display: flex;
  width: 250px;
  justify-content: space-between;
  text-align: right;
}




