body {
  margin: 0;
}

header {
  padding-bottom: 0px;
  border-bottom: 1px solid #91092f;
}

.container {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}

.header-top-wrapper {
  height: 107.734px;
  padding-bottom: 7px;
  margin-top: 7px;
  border-bottom: 2px solid #d9d9d9;
}

.concept-word {
  color: #b0b0b0;
  font-size: 10px;
  margin: 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-left {
  width: 574px;
  position: relative;
}

.header-left p {
  margin-bottom: 10px;
}
.header-logogroup {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#logo {
  width: 190px;
  height: 55px;
  margin-right: 28px;
  margin-top: 15px;
  color: #2a000c;
  font-family: "Hannotate SC";
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 20px;
  text-decoration: none;
}

.free-info {
  width: 258px;
  height: 26px;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 73px;
  left: 321px;
  bottom: -14px;
  right: -17px;
}

.header-right {
  width: 366px;
  height: 63px;
  display: flex;
  flex-direction: column;
}

.header-right-info {
  width: 346px;
  height: 16.734px;
  display: flex;
  a {
    padding-left: 20px;
  }
}

.header-right-inner {
  width: 342px;
  height: 61px;
  margin-top: -2px;
  padding: 14px 10px 8px 12px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #f6eff1;
  position: absolute;
  top: 34px;
}

.comment {
  color:#2a000c;
  font-size: 10px;
  width: 205px;
}

.comment p {
  margin-top: -4px;
  margin-left: -2px;
  margin-bottom: 10px;
  line-height: 14px;
}

.shop-info {
  margin-left: -3px;
}

.header-right-image {
  a {
    margin-left: 4px;
    }
}

.subheader-wrapper {
  height: 31px;
  padding: 10px 0;
}

.subheader {
  display: flex;
  justify-content: space-between;
}

.subheader-left {
  display: flex;
  width: 388px;
  height: 34px;

}

.search-box {
  width: 157px;
  height: 29px;
  margin: 0;
  padding: 0 10px 0 0;
  border: 1px solid #d8ccd0;
  border-radius: 5px 0 0 5px;
  input[type="text"] {
    width: 150px;
    height: 27px;
    font-size: 12px;
    padding-left: 9px;
    margin-left: 2px;
    font-family: Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
}

.go {
  width: 70px;
  height: 30px;
  padding: 1px;
  margin-left: 4px;
}

.select-category {
  width: 146px;
  height: 29px;
  border: 1px solid #d8ccd0;
  background-color: #e7dde0;
  border-radius: 0 5px 5px 0;
  margin-left: -5px;
  position: relative;
    select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 12px;
    letter-spacing: 1.3px;
    font-family: Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: 700;
    color: #2a000c;
    width: 120px;
    margin-left: 5px;
    border: 0;
    outline: none;
    padding: 5px;
    background: transparent;
  }
}

.select-category:before{
  position: absolute;/*絶対配置*/
  content: '';/*空に*/
  border-top: 4px solid #2a000c;/*三角を作る*/
  border-right: 4px solid transparent;
  border-left: 5px solid transparent;
  top: 13px;/*下にフィット*/
  left: 132px;/*中央配置*/
  transform: translateX(-50%);/*一応ズレを補正*/
}

.subheader-right {
  width: 570px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
}

.subheader-right-img {
  display: flex;
}

.subheader-right-img a {
  display: inline-block;
  margin: 0 5px;
}

.welcome {
  line-height: 30px;
  font-family: Hiragino Kaku Gothic Pro;
  font-size: 13px;
  color: #2a000c;
}

.subheader-right-cart {
  padding: 4px 7px 5px 6px;
  background-color: #91092f;
  border-radius: 5px 0 0 5px;
  margin-left: 7px;
}

.subheader-right-cart-number {
  width: 18px;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 10px 0 13px;
  background-color: #91092f;
  border-radius: 0 5px 5px 0;
  color: #fff;
  position: relative;
}

.subheader-right-cart-number:before{
  position: absolute;
  content: '';
  border-left: 1px solid #620620;
  border-top:19px solid #620620;
  top: 5px;
  left: -1px;
}

.logout {
  line-height: 70px;
  padding-right: 20px;
}


