// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.caution {
  background-color: #91092f;
  height: 31px;
  line-height: 31px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
}

.caution p {
  margin: 0;
}

.select-contents-tag {
    width: 960px;
    display: flex;
}

.select-contents-tag p {
    position: relative;
    width: 184px;
    height: 30px;
    font-size: 12px;
    color: #2a000c;
    background-color: #F5EFF1;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #D8CCD0;
    line-height: 30px;
}

.select-contents-tag p:not(last-child) {
    margin-right: 10px;
}

.select-contents-tag p:before{
    position: absolute;
    content: '';
    border-top: 4px solid #91092F;
    border-right: 4px solid transparent;
    border-left: 5px solid transparent;
    top: 13px;
    left: 160px;
    transform: translateX(-50%);
}

.select-list {
    margin-bottom: 30px;
}

.new-item-view {
    border: 1px solid #D8CCD0;
}

.image-area {
    width: 100px;
    height: 300px;
    border: 3px solid #D8CCD0;
}