// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.category_search {
    width: 50%;
    height: 60px;
    margin:10px;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 2px;
    border-radius: 5px;
}

.serch-from-btn-group {
    display: flex;
}

.search-from-purpose {
    background:pink;
}

.serch-from-category {
    background: orange;
}
.inner_body {
    min-height: 100vh;
    height: 100%;
    background: rgba(255,255,255,0.5);
}

.search_from_purpose{
/*    display: none;
*/}