// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#user-menu {
  display: flex;
  margin-left: 20px;
  a{
    text-decoration: none;
  }
}

.link-to-cart {
  margin-right: 10px;
  text-decoration: none;
}

.purchaselog {
  width: 500px;
  padding: 0px;
  background-color: #85B713;
  margin: 0 0 10px 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 2px;
  .purchaselogheader{
    display: flex;
    margin: 10px;
    .purchasedate {
      width: 100px;
      padding-right: 10px;
    }
    .presentopponent {
      width:150px;
    }
    .presentpurpose {
      width: 150px;
    }

  }
}
.purchaselog-header-value {
  font-size:20px;
}
.purchaseitems {
  margin-left: 10px;
  display: none;
}
