<%= render "shared/header" %>
<% @page_title = "新規商品登録" %>
<h2><%= @page_title %></h2>

<%= form_tag("/products/create") do %>

<p>商品名</p><textarea name = "name">商品名</textarea>
<p>特徴</p><textarea name = "characteristic">特徴</textarea>
<p>ホームページアドレス</p><textarea name = "product_hp">ホームページアドレス</textarea>
<p>値段</p><textarea name = "price">値段</textarea>

<input type = "submit" value ="商品登録">

<% end %>